@import '../1-settings/settings.colors';
@import '../1-settings/settings.sizes';
@import '../1-settings/settings.responsive';
@import '../1-settings/settings.spacing';
@import '../2-tools/tools.mixins';

.header-navigation {
  flex-direction: column;
  display: none;

  @media (min-width: $header-breakpoint) {
    @include flexRowCenter;
  }

  &__item {
    margin-bottom: 14px;

    @media (min-width: $header-breakpoint) {
      margin: 0 14px 0;
    }
  }

  &__link {
    text-decoration: none;
    font-size: $size-1-m;

    &:hover {
      color: $primary-color;
    }
  }
}
