@import '../1-settings/settings.sizes';
@import '../1-settings/settings.colors';
@import '../1-settings/settings.spacing';

.header-auth-navigation {
  padding: $spacing-0-l 0;

  &__item-icon {
    margin-right: 8px;
  }

  &__item-link {
    font-size: $size-1-m;
    text-decoration: none;

    &:hover {
      color: $primary-color;
    }
  }
}
